.container {
    background-color: #E3E3E3;
    padding: 5px;
    min-height: 100%;
}

.data-table {
    border-spacing: 0;
}

.data-table-kit {
    width:100%;
}

.data-table tbody td {
    border: 1px solid #CBCBCB;
    background-color: #fff;
}
